.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.iframe-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #45a1d2;
}
